.login-card {
  width: 100%;
  max-width: 400px;
  margin: 100px auto;
  padding: 24px;
}

.card-title{
  padding-bottom: 7px;
}

.full-width {
  width: 100%;
}

.error {
  color: #f44336;
  margin-bottom: 12px;
}
