<!-- node_modules/
dist/
.angular/
.git/
.gitignore
*.md
.env
*.log
coverage/
.vscode/
.idea/
e2e/
*.spec. -->

# .dockerignore for frontend

# Allow dist folder (needed for Docker build)

# Ignore everything first

-

# Then allow what we need

!dist/
!nginx.conf
!Dockerfile

# Specifically allow the browser build output

!dist/banking-frontend/
!dist/banking-frontend/browser/
